lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

coverage

.env

node_modules
bower_components
.pnpm-store

.idea
*.iml

.DS_Store
Thumbs.db

dist/

__pycache__/

/.yalc
yalc.lock

.vscode/settings.json

backend/out

decky_plugin.py

out
out/*
cli/
cli/*
cli/decky
